/* Universal Styles */
body {
    height: auto;
    margin: 0; /* Trying to set top of page to fit YES! */
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    /* color: seashell;
    background-color: black; */
    font-size: 1rem;
    background-color: rgb(230, 211, 211);
  }

.flex-container {
    display: flex;
  }

.left-container{
    width: 60%;
    display: flex;
    padding: 1.45rem 1.09rem;
    flex-direction: column;
}

.right-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 1.45rem;
  }

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  padding-top: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

h5 {
  color: blue;
}

h4, h5, p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none; 
}
/* Header Section */

header {
    width: 100%;
    margin: 0 auto;  /* corrects margin issues when width set to 100% */
    position: fixed;
    z-index: 1; /* keeps header visible over other content*/
    height: 4rem;
    background-color:  rgb(228, 179, 158);
    border-bottom: #533633;
    align-items: center;
}

.logo {
  display: inline-flex;
  padding-left: 1.5rem;
  height: 4rem;
  align-items: center;  
}

.logo img {
  height: 2.5rem;
}

nav {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
}

.logo-front, .logo-back {
  margin: 0;
  font-size: 2rem;
}

.logo-back {
  color: #75825A;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 470px) {
  .non-mobile, .logo-front, .logo-back {
   display: none;
  }

  .logo {
    width: 100%;
  }

  .mobile {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .mobile li {
    padding: 0;
  }
}

/* Banner Section */

#Banner {
  padding-top: 4rem;
  background-color: #E89845;
}

.studying {
  max-width: 100%;
  height: auto;
  display: block;
}

#Banner .left-container{
  justify-content: center;  /*vertical adjustment of content with column flex */
  padding: 2rem 1.5rem;
}

#Banner .right-container{
  justify-content: center;  /*vertical adjustment of content with column flex */
}

.startbutton {
  background-color: #533633;
  width: 85%;
  margin-top: 1.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

#Banner h1, #Banner h3 {
  width: 85%;
}

#Banner .startbutton h3 {
  margin: 0;
  color: gray;
  text-align: center;
  width: 100%;
}

/* Main Section */

#Main {
  background-color: white;
}

.main-feature {
  display: flex;
  padding: 1rem;
}

.main-feature img {
  max-width: 35%;
  height: auto;
  display: block;
}

.reading {
  max-width: 100%;
  height: auto;
  display: block;
}

#Main .right-container{
  justify-content: flex-start;  /*vertical adjustment of content with column flex */
  padding-left: 1rem;
  padding-top: 1rem;
}

#Main .left-container h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main-feature .main-feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 65%;
}

#Main h3, #Main h5 {
  margin: 0;
}

#Main p {
  margin: 0.5rem 0 0.5rem 0;
}

#Main h4 {
  padding-top: 1rem;
}

#Main .guest {
  background-color: #75825A;
}

/* Curiculum Section */
#Curiculum {
  background-color: #E89845;
}

#Curiculum h1 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

#Curiculum .flex-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 3.5rem 0 3.5rem;
  padding-bottom: 1rem;
}

.courses {
  width: 20rem;
  margin: 1rem;
  background-color: #75825A;
}

.courses img {
  max-width: 100%;
  height: auto;
  display: block;
}

.courses-text {
  display: block;
  padding: 1rem 1rem 1.5rem 1rem;
}

#Curiculum h3 {
  margin: 0;
}

#Curiculum p {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 0.8em;
}

/* Thesis Section */

#Thesis h1 {
  text-align: center;
  padding: 2rem 0 1rem;
}

#Thesis .flex-container {
  padding: 1rem 0 2rem 1.5rem;
}

#Thesis img {
  max-width: 35%;
  height: auto;
  display: block;
}

.Thesis-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.Thesis-left h3 {
  padding-top: 1.5rem;
}

.Thesis-left p {
  padding-top: 0.5rem;
  margin: 0;
}

.Thesis-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: left;
}

.Thesis-item {
  width: auto;
  display: inline-flex;
  padding: 1rem;
}

.Thesis-item-text {
  width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Upper {
  background-color: #75825A;
}

#Thesis h3 {
  margin: 0;
}

.Thesis-item-text p {
  margin: 1rem 0 0.5rem 0;
}
/* Footer Section */

footer {
  display: flex;
  padding: 1rem 0 1.5rem 1.5rem;
  background-color: rgb(228, 179, 158);
}

footer p {
  width: 100%;
  margin: 0;
}

footer p, footer a {
 font-size: 1.1;
}

.Footer-items {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-content: center;
  text-align: right;
  padding-right: 1.5rem
}

footer span {
  padding-left: 1rem;
}
